/*
Fonts
 */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}
/*
Templates
 */
:root{
  --White: #FFFFFF;
  --Main: #1890FF;
}
[data-theme="Default"]{
  --default-gray: #C4C4C4;
}
[data-theme="Template_1"] {
  --headings: #bdffff;
  --descriptions: #515759;
  --footer: #B1BCC0;
  --divider: #DFE1E4;
}
[data-theme="Template_2"] {
  --header: #444444;
  --background: #F4F4F4;
  --button-gradient: linear-gradient(180deg, #47AEFF 0%, #0372CB 100%), #1890FF;
  --white_card_shadow: #C4C4C4;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
}
[data-theme="Template_3"] {
  --main_color: #51ACFF;
  --second_color: linear-gradient(180deg, #FDA472 0%, #F7B78F 100%), #EDBB99;
  --button_color: linear-gradient(180deg, #51ACFF 0%, #1772C6 100%), #1890FF;
  --dark_header: #313131;
  --vertical_divider: #7D7D7D;
  --horizontal_divider: radial-gradient(6785.55% 865438.87% at 48.44% 99.92%, #414141 0%, rgba(33, 33, 34, 0) 100%);
}
[data-theme="Template_4"] {
  --voucher_code_background: #F1F1F1;
  --footer_content: #B6B6B6;
}
[data-theme="Template_5"] {
  --divider: #D6D7D9;
  --footer_text: #949494;
}
/*
Main Styles
 */
body {
  margin: 0;
  font-family: "Inter", "sans-serif";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  position: relative;
  max-width: 680px;
  margin: 0 auto;
  background-color: #FBFBFB;
}
.App {
  padding: 48px 60px 58px 60px;
  margin: 0;
  text-align: center;
}
.app-header {
  color: white;
  margin: 0 0 32px 0;
}
.app-main {
  text-align: center;
}
.app-footer {
    text-align: left;
}
article{
  text-align: left;
}

h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
}
h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}
h3.bold{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
h3.semiBold{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
}
.body1{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}
.body2{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
p.body3{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
p.footerText{
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: var(--footer_text);
}
/*
Additional Styles
 */
h1, h2, h3, .body1, .body2, .body3, .footerText{
  color: var(--default-gray);
}
a{
  color: var(--Main);
  text-decoration: none;
}
.divider{
    color: var(--divider);
    margin: 0 0 16px 0;
}
.footerText span{
    display: block;
}